h1, h4 {
    margin: 0;
    padding: 0;
    font-family: 'Ubuntu';
}
/* yooo */

h1 { font-style: oblique; }

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -1;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}

.list_heading {
    margin-bottom:0px;
}

ul {
    margin:0px;
}

.list_footer {
    margin-top:4px;
}

#aster {
    font-style:italic;
    font-size:9px;
}