body {
    margin:0;
    padding:0;
}

#bg {
  position: fixed; 
  top: -50%; 
  left: -50%; 
  width: 200%; 
  height: 200%;
  z-index: -2;
}

#bg img {
  position: absolute; 
  top: 0; 
  left: 0; 
  right: 0; 
  bottom: 0; 
  margin: auto; 
  min-width: 50%;
  min-height: 50%;
  opacity: 0.5;
}


#grey_container {
    position:relative;
    top:30px;
    margin:auto;
    padding:20px 100px;
    width:60%;
    height:auto;
    border:5px solid darkgrey;
    background:rgba(211, 211, 211,0.75);
   /* opacity:0.5;
    filter: alpha(opacity=50); */
}

#profile_pic {
    margin:auto;
}

h1, h4 {
    font-family: 'Ubuntu';
    text-align:center;
}

h1 { font-style: oblique; }


.list_heading {
    margin-bottom:0px;
}

ul {
    margin: 0px;
}

.list_footer {
    margin-top:4px;
}

#asterisk {
    font-style:italic;
    font-size:9px;
}